@import "./normalize";
@import "./vars";
@import "./classes";
@import "./mixins";

.cube {
    width: 100px;
    height: 100px;
    background-color: rgb(47, 193, 198);
    margin: 5px;
}

a {
    color: $linkColor;
    font-size: 1rem;

    &:hover {
        color: $linkHoverColor;
    }

    &>span {
        border: 1px solid gray;
        padding: 5px 5px;
    }
}

.product {
    margin: 0 auto;

    &__name {
        font-size: 2rem;
    }

    &__price {
        font-size: 1.5rem;
    }
}

h1 {
    font-size: $h1Size;
}

button {
    // color: lighten($linkColor, 50%);
    color: darken($linkColor, 10%);
    background-color: transparentize($linkColor, $amount: 0.5);

    &:hover {
        color: lighten($linkHoverColor, 50%);
    }
}


.block1 {
    @extend %flex-center;
    background-color: aliceblue;
}

.block2 {
    @extend %flex-center;
    @extend button;
    background-color: antiquewhite;
}

h1 {
    @include title(2rem, 700, 3rem);

    @include media($tablet) {
        font-size: 2.5rem;
        font-weight: bold;
    }

    @include media($desktop) {
        font-size: 3rem;
        font-weight: 900;
    }
}

h2 {
    @include title($_size: 5rem, $_weight:400, $_mt: 1.5rem);
    
    @include respondTo(768px, 992px) {
        font-size: 3rem;
        font-weight: bolder;
    }

    @include respondTo(993px, 1024px) {
        font-size: 3.2rem;
    }
}